.perfil{
    grid-column: 1 / -1;
    border: 1px solid #d3d8eb;
}
.nombre_usuario{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo1{
    width: 4rem;
    height: 4rem;

    border-radius: 100%;
    background-color: #8997c9;
    border: 3px solid #566496;
    color: black;

    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_perfil{
    width: 15rem;
    height: 4rem;
    color: black;
    border-radius: 3rem;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}