.perfil{
    grid-column-start: 1;
    grid-column-end: 1;
    border: 1px solid black;
}
.nombre_usuario{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo1{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color:rgb(184, 245, 115);
    color: black;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_perfil{
    width: 10rem;
    height: 4rem;
    color: black;
    border-radius: 3rem;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}